<!DOCTYPE html>

<html lang="en">
  <%- include('partials/head') %>

  <body>
    <div style="width: 50vw; height: 90vh; display: inline-block">
      <a href="/management" style="display: inline-block; width: 100px; text-align: center">Back</a>
      <h2 style="display: inline-block; text-align: center">Configuration for <%= cameraName %></h2>
      <pre class="prettyprint lang-json" style="height: 90vh"><%= cameraConfig %></pre>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>
